*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
a{
    -webkit-tap-highlight-color: transparent;
}
svg{
    display: block;
}
body{
    background-color: rgb(232, 232, 232);
}
.top_nav{
    position: sticky;
    top: 0;
    height: 45px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 99;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.logo{
    padding: 1px 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* font-style: italic; */
    font-weight: 1000;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    box-shadow: 0 0 2.5px 1px gray;
}
.logo:active{
    scale: 0.9;
}
.bottom_nav{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 45px;
    background-color: white;
    z-index: 99;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
}
.bottom_icon{
    text-align: center;
    text-decoration: none;
    color: black;
}
.icon_text{
    display: flex;
    justify-content: center;
}
.bottom_icon span{
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}
main{
    min-height: calc(100dvh - 128px);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    text-align: center;
    place-content: center;
}
h1{
    font-size: 40px;
    letter-spacing: 10px;
}
.coming_soon{
    color: gray;
    font-size: 22px;
    letter-spacing: 15px;
    font-weight: bold;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: rgb(200, 200, 200);
}
.company{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
