*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
a{
    -webkit-tap-highlight-color: transparent;
}
svg{
    display: block;
}
body{
    background-color: rgb(232, 232, 232);
}
.top_nav{
    position: sticky;
    top: 0;
    height: 45px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: white;
    z-index: 99;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.logo{
    padding: 1px 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* font-style: italic; */
    font-weight: 1000;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
    box-shadow: 0 0 2.5px 1px gray;
}
.logo:active{
    scale: 0.9;
}
.bottom_nav{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 45px;
    background-color: white;
    z-index: 99;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
}
.bottom_icon{
    text-align: center;
    text-decoration: none;
    color: black;
}
.icon_text{
    display: flex;
    justify-content: center;
}
.bottom_icon span{
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}
main{
    min-height: calc(100dvh - 128px);
    font-family: Arial, Helvetica, sans-serif;
    /* display: grid;
    text-align: center;
    place-content: center; */
    text-align: center;
}
h1{
    font-size: 40px;
    letter-spacing: 10px;
}
.coming_soon{
    color: gray;
    font-size: 22px;
    letter-spacing: 15px;
    font-weight: bold;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    background-color: rgb(200, 200, 200);
}
.company{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.search-box{
    width: 96%;
    position: relative;
    margin: 10px auto;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
input:focus{
    outline: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  /* max-height: 220px; */
  overflow-y: auto;
  z-index: 1000;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

/* suggestion item */
li {
  padding: 10px;
  cursor: pointer;
}

li:nth-child(odd){
    background-color: rgb(236, 236, 236);
}

li:hover, .active {
    background: #f0f0f0;
}

/* no result */
#noResults {
  padding: 10px;
  color: #777;
  text-align: center;
}

/* skeleton */
.loader-item {
  height: 14px;
  margin: 10px;
  border-radius: 4px;
  background: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}

.city{
    font-weight: 500;
}
.state{
    color: #777;
    font-size: 14px;
}
.mark{
    background: none;
    color: black;
    font-weight: bold;
}
