<div class="search-box">
    <!-- <input type="search" value="{{ page.city | append: ', ' | append: page.state | default: '' }}" id="search" placeholder="Search city..." /> -->
    <input 
      type="search"
      id="search"
      value="{% if page.city %}{{ page.city | append: ', ' | append: page.state }}{% endif %}"
      placeholder="Search city..."
    />
    
    <div id="dropdown" class="dropdown hidden">
        <ul id="suggestions"></ul>
        <div id="loader"></div>
        <div id="noResults">No results found</div>
    </div>

    {% assign active = page.category | default: "" %}
    {% assign categories = "escorts,callgirls,offers" | split: "," %}
    
    <select id="category">
        <option value="" {% if active == "" %}selected{% endif %}>Select Category</option>
        {% for cat in categories %}<option value="{{ cat }}" {% if active == cat %}selected{% endif %}>{{ cat | capitalize }}</option>{% endfor %}
    </select>
    
    <button onclick="searchCity()">Search</button>
</div>
