<div class="search-box">
    <input type="search" value="{{ page.city | append: ', ' | append: page.state | default: '' }}" id="search" placeholder="Search city..." />
    
    <div id="dropdown" class="dropdown hidden">
        <ul id="suggestions"></ul>
        <div id="loader"></div>
        <div id="noResults">No results found</div>
    </div>
    
    <select id="category">
      <option value="">Select Category</option>
      <option value="escorts">Escorts</option>
      <option value="news">News</option>
      <option value="offers">Offers</option>
    </select>
    
    <button onclick="searchCity()">Search</button>
</div>
