<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vinku.in</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
</head>
<body>
  {% include header.html %}
  <main>
    {% include search.html %}
    {{ content }}
  </main>
  {% include footer.html %}

<script>
document.addEventListener("DOMContentLoaded", () => {
  const input = document.getElementById("search");

  const city = "{{ page.city }}";
  const state = "{{ page.state }}";

  if (city && state && input) {
    input.value = capitalize(city) + ", " + capitalize(state);
  }

  function capitalize(str) {
    return str.charAt(0).toUpperCase() + str.slice(1);
  }
});
</script>
    
<script src="/js/main.js"></script>
</body>
</html>
