<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vinku.in</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
</head>
<body>
  {% include header.html %}
  <!-- <main>
      <div class="search-box">
        <input type="text" id="search" placeholder="Search city..." />
        <button onclick="searchCity()">Search</button>
    
        <div id="dropdown" class="dropdown hidden">
            <ul id="suggestions"></ul>
            <div id="loader"></div>
            <div id="noResults">No results found</div>
        </div>
    </div> -->
    {{ content }}
  </main>
  {% include footer.html %}
<script src="/js/main.js"></script>
</body>
</html>
