<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.category | default: "personal" }} service {{ page.city | default: "india" }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
</head>
<body>
  {% include header.html %}
  <main>
    <h1>{{ page.category | default: "personal" }} service {{ page.city | default: "india" }}</h1>
    {% include search.html %}
    {{ content }}
  </main>
  {% include footer.html %}


<!-- <script>
document.addEventListener("DOMContentLoaded", () => {

  const input = document.getElementById("search");
  const categoryDropdown = document.getElementById("category");

  const city = "{{ page.city }}";
  const state = "{{ page.state }}";
  const category = "{{ page.category }}";

  // city auto-fill
  if (city && state && input) {
    input.value = capitalize(city) + ", " + capitalize(state);
  }

  // category auto-select
  if (category && categoryDropdown) {
    categoryDropdown.value = category;
  } else if (categoryDropdown) {
    categoryDropdown.value = ""; // default "Select Category"
  }

  function capitalize(str) {
    return str.charAt(0).toUpperCase() + str.slice(1);
  }

});
</script> -->

<!-- <script>
document.addEventListener("DOMContentLoaded", () => {
  const input = document.getElementById("search");

  const city = "{{ page.city }}";
  const state = "{{ page.state }}";

  if (city && state && input) {
    input.value = capitalize(city) + ", " + capitalize(state);
  }

  function capitalize(str) {
    return str.charAt(0).toUpperCase() + str.slice(1);
  }
});
</script> -->
    
<script src="/js/main.js"></script>
</body>
</html>
